<mat-toolbar class="not-printable mat-primary"><span>Підпиши свої зошити без зусилль</span></mat-toolbar>

<div class="container p-4 not-printable d-flex">
    <div class="template d-flex flex-column w-50 mr-2">
        <h2>Шаблон підпису</h2>
        <mat-form-field appearance="fill">
            <mat-label>рядок 1</mat-label>
            <input type="text" [(ngModel)]="line1" matInput/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>рядок 2</mat-label>
            <input type="text" [(ngModel)]="line2" matInput/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>рядок 3</mat-label>
            <input type="text" [(ngModel)]="line3" matInput/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>рядок 4</mat-label>
            <input type="text" [(ngModel)]="line4" matInput/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>рядок 5</mat-label>
            <input type="text" [(ngModel)]="line5" matInput/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>рядок 6</mat-label>
            <input type="text" [(ngModel)]="line6" matInput/>
        </mat-form-field>
    </div>

    <div class="w-50 ml-2 d-flex flex-column">
        <h2 class="pl-3">Предмети</h2>
        <mat-list dense>
            <mat-list-item *ngFor="let disc of disciplines">
                <span>{{disc.name}}</span>

                <div class="amount-group d-flex align-items-center ml-2">
                    <button class="mr-3" mat-icon-button (click)="disc.amount = disc.amount - 1">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <input class="amount" type="number" matInput [(ngModel)]="disc.amount">
                    <button mat-icon-button (click)="disc.amount = disc.amount + 1">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </mat-list-item>
        </mat-list>
        <button mat-button class="mat-primary" (click)="addingDiscipline = true" *ngIf="!addingDiscipline">Додати
            предмет
        </button>
        <div class="d-flex" *ngIf="addingDiscipline">
            <mat-form-field appearance="fill">
                <mat-label>Предмет</mat-label>
                <input type="text" [(ngModel)]="newDisciplineName" matInput/>
            </mat-form-field>
            <button mat-button class="mat-primary" (click)="add()">Додати</button>
            <button mat-button (click)="addingDiscipline = false">Відміна</button>
        </div>

        <button mat-raised-button class="mat-accent px-4 py-2 mt-auto" (click)="window.print()"><mat-icon>print</mat-icon> Друкувати</button>

    </div>



</div>


<div class="labels p-4 position-relative">
    <ng-container *ngFor="let disc of disciplines">
        <div class="wb-label m-2 position-relative" *ngFor="let item of Array(disc.amount)">
            <p>{{line1 | fill : disc.name}}</p>
            <p>{{line2 | fill : disc.name}}</p>
            <p>{{line3 | fill : disc.name}}</p>
            <p>{{line4 | fill : disc.name}}</p>
            <p>{{line5 | fill : disc.name}}</p>
            <p>{{line6 | fill : disc.name}}</p>
        </div>
    </ng-container>
</div>
